MaintaneBFLFP_20260526063509/Microsoft.Flow/flows/bb7299c5-4da4-4358-8848-27cc68ca1468/definition.json
{"name":"49f5da7c-c7ad-4340-a6fd-2cfa8a0e3ab0","id":"/providers/Microsoft.Flow/flows/49f5da7c-c7ad-4340-a6fd-2cfa8a0e3ab0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Power_apps_flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"0993b558-e7b2-4b5e-8812-113f6515921f","type":"User","tenantId":"e622a082-d0bb-441e-a364-13f5c6912159"},"provisioningMethod":"FromDefinition","failureAlertSubscription":false,"clientLastModifiedTime":"2026-05-18T13:31:13.8008192Z","connectionKeySavedTimeKey":"2026-05-18T13:31:13.8008192Z","creationSource":null,"modifiedSources":"Portal;PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"55755d6b-7812-47a2-970c-cc18653a5fd2"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"description":"Please enter your input","title":"mode","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_1":{"description":"Please enter your input","title":"reportDate","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"number":{"description":"Please enter a number","title":"itemID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"required":["text","text_1","number"]}},"conditions":[]}},"actions":{"Condition_2":{"actions":{"Compose_ReportDateText":{"runAfter":{},"metadata":{"operationMetadataId":"3052c0fe-5356-421c-abd0-c8019c4d4f3a"},"type":"Compose","inputs":"@formatDateTime(triggerBody()?['text_1'], 'dd-MM-yyyy')"},"StartUTC":{"runAfter":{"Compose_ReportDateText":["Succeeded"]},"metadata":{"operationMetadataId":"a0fec67e-e972-4a32-8cc2-afa49ff81fbd"},"type":"Compose","inputs":"@formatDateTime(\r\n  convertTimeZone(\r\n    startOfDay(triggerBody()?['text_1']),\r\n    'SE Asia Standard Time',\r\n    'UTC'\r\n  ),\r\n  'yyyy-MM-ddTHH:mm:ssZ'\r\n)"},"EndUTC":{"runAfter":{"StartUTC":["Succeeded"]},"metadata":{"operationMetadataId":"80fcc0be-48b8-4549-8c95-abbbbfdb836f"},"type":"Compose","inputs":"@formatDateTime(\r\n  convertTimeZone(\r\n    addDays(\r\n      startOfDay(triggerBody()?['text_1']),\r\n      1\r\n    ),\r\n    'SE Asia Standard Time',\r\n    'UTC'\r\n  ),\r\n  'yyyy-MM-ddTHH:mm:ssZ'\r\n)"},"Get_items":{"runAfter":{"EndUTC":["Succeeded"]},"metadata":{"operationMetadataId":"3f625478-c572-47f4-974a-4b31a5e88ec6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","$filter":"\nStartTime ge '@{outputs('StartUTC')}'\nand StartTime lt '@{outputs('EndUTC')}'\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fTemplate%252fMaintenance_Daily_Template.xlsx":"/Shared Documents/Template/Maintenance_Daily_Template.xlsx","operationMetadataId":"79757e5d-c81f-4d93-a3b0-1c5f0042efd8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","id":"%252fShared%2bDocuments%252fTemplate%252fMaintenance_Daily_Template.xlsx","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"5f844008-b660-4355-9ebc-e57e17ecc7c3"},"type":"Query","inputs":{"from":"@outputs('Get_items')?['body/value']","where":"@equals(item()?['Status/Value'],'Done')"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Get_attachments":{"runAfter":{},"metadata":{"operationMetadataId":"83f2722d-1720-4ae4-8e37-c4a89c4b641d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","itemId":"@item()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_1":{"foreach":"@body('Get_attachments')","actions":{"Condition":{"actions":{"Get_attachment_content":{"runAfter":{},"metadata":{"operationMetadataId":"3ea12315-4355-4a02-b76d-657e94af7447"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","itemId":"@items('Apply_to_each')?['ID']","attachmentId":"@item()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_attachment_content":["Succeeded"]},"metadata":{"operationMetadataId":"040d7f9f-86ba-4d57-8039-a2f0bb3d4ef3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat(\r\nreplace(items('Apply_to_each')?['Title'],'/','-'),\r\n'_beforeimage_',\r\nformatDateTime(items('Apply_to_each')?['StartTime'],'ddMMyy'),\r\n'_',\r\nstring(items('Apply_to_each')?['ID']),\r\n'.jpeg'\r\n)","body":"@body('Get_attachment_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each_1')?['DisplayName']","MachineImage"]}]},"metadata":{"operationMetadataId":"ba8f5dfd-bf91-488c-848d-0cc1629e013e"},"type":"If"},"Condition_1":{"actions":{"Get_attachment_content_1":{"runAfter":{},"metadata":{"operationMetadataId":"3a9b131d-eb20-4cb2-8f4a-d2ad7bc1a91d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","itemId":"@items('Apply_to_each')?['ID']","attachmentId":"@item()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"authentication":"@parameters('$authentication')"}},"Create_file_1":{"runAfter":{"Get_attachment_content_1":["Succeeded"]},"metadata":{"operationMetadataId":"635b4a7d-4956-4ea5-b488-e88a965e93b6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat(\r\nreplace(items('Apply_to_each')?['Title'],'/','-'),\r\n'_afterimage_',\r\nformatDateTime(items('Apply_to_each')?['StartTime'],'ddMMyy'),\r\n'_',\r\nstring(items('Apply_to_each')?['ID']),\r\n'.jpeg'\r\n)","body":"@body('Get_attachment_content_1')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"expression":{"and":[{"contains":["@items('Apply_to_each_1')?['DisplayName']","AfterRepair"]}]},"metadata":{"operationMetadataId":"f5133acd-201c-48ec-895b-c161224718a7"},"type":"If"}},"runAfter":{"Get_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"b2ff5766-2230-4b32-9773-f4cae5c80196"},"type":"Foreach"}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"5d8fb174-bf8f-4f4f-9ffa-b043d3eeb2f7"},"type":"Foreach"},"Select":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"7e6ca579-9ce9-4206-925a-53bbdc8bf0f4"},"type":"Select","inputs":{"from":"@body('Filter_array')","select":{"MachineName":"@item()?['Title']","TimeRange":"@if(\r\n  empty(item()?['EndTime']),\r\n  '',\r\n  if(\r\n    equals(\r\n      formatDateTime(convertTimeZone(item()?['StartTime'],'UTC','SE Asia Standard Time'),'yyyy-MM-dd'),\r\n      formatDateTime(convertTimeZone(item()?['EndTime'],'UTC','SE Asia Standard Time'),'yyyy-MM-dd')\r\n    ),\r\n    concat(\r\n      formatDateTime(convertTimeZone(item()?['StartTime'],'UTC','SE Asia Standard Time'),'HH:mm'),\r\n      ' - ',\r\n      formatDateTime(convertTimeZone(item()?['EndTime'],'UTC','SE Asia Standard Time'),'HH:mm')\r\n    ),\r\n    concat(\r\n      formatDateTime(convertTimeZone(item()?['EndTime'],'UTC','SE Asia Standard Time'),'HH:mm'),\r\n      ' (',\r\n      string(\r\n        div(\r\n          div(\r\n            sub(ticks(item()?['EndTime']), ticks(item()?['StartTime'])),\r\n            36000000000\r\n          ),\r\n          24\r\n        )\r\n      ),\r\n      'd ',\r\n      string(\r\n        mod(\r\n          div(\r\n            sub(ticks(item()?['EndTime']), ticks(item()?['StartTime'])),\r\n            36000000000\r\n          ),\r\n          24\r\n        )\r\n      ),\r\n      'h)'\r\n    )\r\n  )\r\n)","Symptom":"@item()?['CauseOfProblem']","Cause":"@item()?['RootCause']","Fix":"@item()?['Solution']","ClearAfter":"@if(equals(item()?['ClearedWorkSite'], true), '✓', '✗')","SubmitBy":"@item()?['CheckedBy']","ActionBy":"@item()?['ActionBy']"}}},"Composepdf":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"95e2315a-a081-419a-880f-bc4614561089"},"type":"Compose","inputs":"@concat('MaintenanceReport_', outputs('Compose_ReportDateText'), '.pdf')"},"Composexlsx":{"runAfter":{"Composepdf":["Succeeded"]},"metadata":{"operationMetadataId":"7450c987-89e2-45dd-9037-755c0d67a9d8"},"type":"Compose","inputs":"@concat('MaintenanceReport_', outputs('Compose_ReportDateText'), '.xlsx')"},"Condition_3":{"actions":{"Create_share_link_2":{"runAfter":{},"metadata":{"operationMetadataId":"516695d5-7dd8-417f-8a88-2994fd1e4c72"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Get_PDF_metadata')?['body/Id']","type":"View","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_Power_App_or_flow_4":{"runAfter":{"Create_share_link_2":["Succeeded"]},"metadata":{"operationMetadataId":"05f77bdc-0c35-4529-b99a-0eda965c933f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Success","message":"Report generated successfully","filelink":"@{outputs('Create_share_link_2')?['body/WebUrl']}"},"schema":{"type":"object","properties":{"status":{"title":"status","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"filelink":{"title":"filelink","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Get_PDF_metadata":["Succeeded","Failed"]},"else":{"actions":{"Condition_4":{"actions":{"Create_file_2_1":{"runAfter":{"Convert_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"9b49505e-6aeb-4a81-ad34-68b3e0d4663e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat('MaintenanceReport_', outputs('Compose_ReportDateText'), '.pdf')","body":"@body('Convert_file_2')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_2":{"runAfter":{},"metadata":{"operationMetadataId":"3dc114f8-e0be-4ffa-b4fc-be8dd4f0876a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Get_XLSX_metadata')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_share_link_3":{"runAfter":{"Create_file_2_1":["Succeeded"]},"metadata":{"operationMetadataId":"516695d5-7dd8-417f-8a88-2994fd1e4c72"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Create_file_2_1')?['body/Id']","type":"View","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_Power_App_or_flow_5":{"runAfter":{"Create_share_link_3":["Succeeded"]},"metadata":{"operationMetadataId":"05f77bdc-0c35-4529-b99a-0eda965c933f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Success","message":"Report generated successfully","filelink":"@{outputs('Create_share_link_3')?['body/WebUrl']}"},"schema":{"type":"object","properties":{"status":{"title":"status","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"filelink":{"title":"filelink","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Get_XLSX_metadata":["Succeeded","Failed"]},"else":{"actions":{"Create_file_1_1_1":{"runAfter":{},"metadata":{"operationMetadataId":"5b8cc8cd-441b-4b46-9468-fea19406ac14"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat('MaintenanceReport_', outputs('Compose_ReportDateText'), '.xlsx')","body":"@body('Get_file_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delay":{"runAfter":{"Create_file_1_1_1":["Succeeded"]},"metadata":{"operationMetadataId":"062c80ee-03e0-4978-b437-8fa80552beba"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Run_script_1":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"35bc205c-abc9-475e-8db0-397195c375da","tableId":null},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!7plbUUwfJkGTu49-BqZr2stJrsd6E_ZOkQF9TzCEuLzXVPttn6vMQIrgIWPTmwEv","file":"@outputs('Create_file_1_1_1')?['body/Path']","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01WFBGKTBPUTPMX6VCFBDLIHAEN2HRARRO","ScriptParameters/reportDateText":"@{outputs('Compose_ReportDateText')}\n","ScriptParameters/rows":"@body('Select')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"retryPolicy":{"type":"fixed","count":5,"interval":"PT30S"},"authentication":"@parameters('$authentication')"}},"Convert_file":{"runAfter":{"Run_script_1":["Succeeded"]},"metadata":{"operationMetadataId":"3dc114f8-e0be-4ffa-b4fc-be8dd4f0876a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_1_1_1')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_file_2":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"9b49505e-6aeb-4a81-ad34-68b3e0d4663e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat('MaintenanceReport_', outputs('Compose_ReportDateText'), '.pdf')","body":"@body('Convert_file')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_share_link":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"516695d5-7dd8-417f-8a88-2994fd1e4c72"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"View","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Create_share_link":["Succeeded"]},"metadata":{"operationMetadataId":"05f77bdc-0c35-4529-b99a-0eda965c933f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Success","message":"Report generated successfully","filelink":"@{outputs('Create_share_link')?['body/WebUrl']}"},"schema":{"type":"object","properties":{"status":{"title":"status","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"filelink":{"title":"filelink","x-ms-dynamically-added":true,"type":"string"}}}}}}},"expression":{"and":[{"equals":["@actions('Get_XLSX_metadata')?['status']","Succeeded"]}]},"metadata":{"operationMetadataId":"48d88044-7c41-468e-b98b-915137493965"},"type":"If"},"Get_XLSX_metadata":{"runAfter":{},"metadata":{"operationMetadataId":"df089e15-6c9d-4702-b8fb-7180f1380428"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadataByPath"},"parameters":{"path":"@concat('/BFLFP Report/', outputs('Composexlsx'))"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@actions('Get_PDF_metadata')?['status']","Succeeded"]}]},"metadata":{"operationMetadataId":"6a9a6ac7-b1f2-4efd-8219-3591bc871515"},"type":"If"},"Get_PDF_metadata":{"runAfter":{"Composexlsx":["Succeeded"]},"metadata":{"operationMetadataId":"dfb4608f-fcf8-402a-9e51-5b3c824e62f1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadataByPath"},"parameters":{"path":"@concat('/BFLFP Report/', outputs('Composepdf'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"penApprover_1":["Succeeded"]},"else":{"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"9452cb1b-07b9-4fb7-800c-736dc0214e8d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","id":"@triggerBody()?['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Get_file_content_1":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"b!7plbUUwfJkGTu49-BqZr2stJrsd6E_ZOkQF9TzCEuLzXVPttn6vMQIrgIWPTmwEv.01WFBGKTFXT4IHE6IN65GL44GG7BONJ3J2":"/corrective action form final.xlsx","b!7plbUUwfJkGTu49-BqZr2stJrsd6E_ZOkQF9TzCEuLzXVPttn6vMQIrgIWPTmwEv.01WFBGKTHKI7KJEXBCKJFYCNJEAHV2UJ76":"/BFLFP Report/templat/TemplateRepairform.xlsx","operationMetadataId":"fdf4583c-cbb9-4b72-a63f-0a4fb84e2715"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"b!7plbUUwfJkGTu49-BqZr2stJrsd6E_ZOkQF9TzCEuLzXVPttn6vMQIrgIWPTmwEv.01WFBGKTHKI7KJEXBCKJFYCNJEAHV2UJ76","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file_3":{"runAfter":{"Get_file_content_1":["Succeeded"]},"metadata":{"operationMetadataId":"3fcbe52c-511e-4b0a-8b1b-36c2252e2b8e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat(\r\n  'repairform_',\r\n  formatDateTime(outputs('Get_item')?['body/Created'], 'dd-MM-yyyy'),\r\n  '_',\r\n  outputs('Get_item')?['body/JobID'],\r\n  '.xlsx'\r\n)","body":"@body('Get_file_content_1')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delay_1":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"0f5e1660-61c4-465b-8377-17e5293a68ff"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Get_attachments_1":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"26fd3960-703f-46a6-93f2-724231b219bd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","itemId":"@triggerBody()?['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@body('Get_attachments_1')","actions":{"Get_attachment_content_2":{"runAfter":{},"metadata":{"operationMetadataId":"cfbbc51d-00b2-4944-9a14-e212eee30a0a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bluefalofamily.sharepoint.com/sites/MaintanceDatabase","table":"5972178c-be4e-4eb6-9bd8-ccf8f9f00659","itemId":"@triggerBody()?['number']","attachmentId":"@items('Apply_to_each_2')?['Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"authentication":"@parameters('$authentication')"}},"Before_image":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"65edd527-d7f6-44dd-a7bb-4ab6b0a14ae0"},"type":"SetVariable","inputs":{"name":"varBeforeImageBase64","value":"@base64(body('Get_attachment_content_2'))"}}},"runAfter":{"Get_attachment_content_2":["Succeeded"]},"expression":{"and":[{"contains":["@items('Apply_to_each_2')?['DisplayName']","MachineImage"]}]},"metadata":{"operationMetadataId":"cac0e3ab-0c91-467a-b53e-975b991dadea"},"type":"If"},"after_image":{"actions":{"Set_variable_1":{"runAfter":{},"metadata":{"operationMetadataId":"8bbf7e64-ebdc-4332-9d65-10306e9eb542"},"type":"SetVariable","inputs":{"name":"varAfterImageBase64","value":"@base64(body('Get_attachment_content_2'))"}}},"runAfter":{"Before_image":["Succeeded"]},"expression":{"and":[{"contains":["@toLower(items('Apply_to_each_2')?['DisplayName'])","afterrepair"]}]},"metadata":{"operationMetadataId":"aeb1822f-b9f4-41a2-ad8a-6877f8d61c3c"},"type":"If"},"penrequester":{"actions":{"Set_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"cb6de7c3-6494-426c-81a0-98d7b803613c"},"type":"SetVariable","inputs":{"name":"varPenRequesterBase64","value":"@base64(body('Get_attachment_content_2'))"}}},"runAfter":{"after_image":["Succeeded"]},"expression":{"and":[{"contains":["@toLower(items('Apply_to_each_2')?['DisplayName'])","penrequester"]}]},"metadata":{"operationMetadataId":"ee837e97-89b2-407e-9df4-6b5060610307"},"type":"If"},"penapprover1":{"actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"40d47813-5478-4bed-9082-da589ae00592"},"type":"SetVariable","inputs":{"name":"varPenApproverBase64","value":"@base64(body('Get_attachment_content_2'))"}}},"runAfter":{"penrequester":["Succeeded"]},"expression":{"and":[{"contains":["@toLower(items('Apply_to_each_2')?['DisplayName'])","penapprover"]}]},"metadata":{"operationMetadataId":"12b7e1cc-f827-4af1-8976-bfc62335af92"},"type":"If"},"Condition_3_1_1":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"855e45f9-b6db-454c-aded-19cd88ca0cf6"},"type":"SetVariable","inputs":{"name":"varPenInspectorBase64","value":"@base64(body('Get_attachment_content_2'))"}}},"runAfter":{"penapprover1":["Succeeded"]},"expression":{"and":[{"contains":["@toLower(items('Apply_to_each_2')?['DisplayName'])","peninspector"]}]},"metadata":{"operationMetadataId":"e1cf3c45-0320-4245-b505-7393b634f6e4"},"type":"If"}},"runAfter":{"Get_attachments_1":["Succeeded"]},"metadata":{"operationMetadataId":"a3285b43-85f3-4c6b-a76a-6b11f46c4733"},"type":"Foreach"},"Run_script":{"runAfter":{"Delay_1":["Succeeded"]},"metadata":{"01WFBGKTHKI7KJEXBCKJFYCNJEAHV2UJ76":"/BFLFP Report/templat/TemplateRepairform.xlsx","tableId":null,"operationMetadataId":"6fdc7ee4-0aca-4d30-9f44-914d7f85b648"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!7plbUUwfJkGTu49-BqZr2stJrsd6E_ZOkQF9TzCEuLzXVPttn6vMQIrgIWPTmwEv","file":"@outputs('Create_file_3')?['body/Id']","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01WFBGKTF5VG23D6QYYBCI6Q5LF43Y3GT4","ScriptParameters/item/JobID":"@outputs('Get_item')?['body/JobID']","ScriptParameters/item/JobType":"@outputs('Get_item')?['body/JobType/Value']","ScriptParameters/item/SubmitBy":"@outputs('Get_item')?['body/CheckedBy']","ScriptParameters/item/RequesterPosition":"@outputs('Get_item')?['body/RequesterPosition']","ScriptParameters/item/RequesterDepartment":"@outputs('Get_item')?['body/RequesterDepartment/Value']","ScriptParameters/item/Machine":"@outputs('Get_item')?['body/Title']","ScriptParameters/item/Problem":"@outputs('Get_item')?['body/CauseOfProblem']","ScriptParameters/item/Created":"@outputs('Get_item')?['body/Created']","ScriptParameters/item/RootCause":"@outputs('Get_item')?['body/RootCause']","ScriptParameters/item/Solution":"@outputs('Get_item')?['body/Solution']","ScriptParameters/item/ApprovalStatus":"@outputs('Get_item')?['body/ApprovalStatus']","ScriptParameters/item/DueDate":"@outputs('Get_item')?['body/DueDate']","ScriptParameters/item/ApprovalRemark":"@outputs('Get_item')?['body/ApprovalRemark']","ScriptParameters/item/PlannedDate":"@outputs('Get_item')?['body/PlannedDate']","ScriptParameters/item/EndTime":"@outputs('Get_item')?['body/EndTime']","ScriptParameters/item/Modified":"@outputs('Get_item')?['body/Modified']","ScriptParameters/item/ActionBy":"@outputs('Get_item')?['body/ActionBy']","ScriptParameters/item/SupplierName":"@outputs('Get_item')?['body/SupplierName']","ScriptParameters/item/ClearedWorkSite":"@outputs('Get_item')?['body/ClearedWorkSite']","ScriptParameters/item/Status":"@outputs('Get_item')?['body/Status/Value']","ScriptParameters/item/InspectionRemark":"@outputs('Get_item')?['body/InspectionRemark']","ScriptParameters/item/NewIssueID":"@outputs('Get_item')?['body/NewIssueID']","ScriptParameters/item/PenRequesterBase64":"@variables('varPenRequesterBase64')","ScriptParameters/item/PenApproverBase64":"@variables('varPenApproverBase64')","ScriptParameters/item/PenInspectorBase64":"@variables('varPenInspectorBase64')","ScriptParameters/item/BeforeImageBase64":"@variables('varBeforeImageBase64')","ScriptParameters/item/AfterImageBase64":"@variables('varAfterImageBase64')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":"@parameters('$authentication')"}},"Convert_file_1":{"runAfter":{"Run_script":["Succeeded"]},"metadata":{"operationMetadataId":"eb5e1663-fcf8-4dd2-b803-8bff34237f17"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_3')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_file_4":{"runAfter":{"Convert_file_1":["Succeeded"]},"metadata":{"operationMetadataId":"c21d15c9-2259-4183-bb8f-dde14460e03d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/BFLFP Report","name":"@concat(\r\n  'repairform_',\r\n  formatDateTime(outputs('Get_item')?['body/Created'], 'dd-MM-yyyy'),\r\n  '_',\r\n  outputs('Get_item')?['body/JobID'],\r\n  '.pdf'\r\n)","body":"@body('Convert_file_1')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_share_link_1":{"runAfter":{"Create_file_4":["Succeeded"]},"metadata":{"operationMetadataId":"516695d5-7dd8-417f-8a88-2994fd1e4c72"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Create_file_4')?['body/Id']","type":"View","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_Power_App_or_flow_2":{"runAfter":{"Create_share_link_1":["Succeeded"]},"metadata":{"operationMetadataId":"05f77bdc-0c35-4529-b99a-0eda965c933f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Success","message":"Report generated successfully","filelink":"@{outputs('Create_share_link_1')?['body/WebUrl']}"},"schema":{"type":"object","properties":{"status":{"title":"status","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"filelink":{"title":"filelink","x-ms-dynamically-added":true,"type":"string"}}}}},"Scope_1":{"actions":{"Respond_to_a_Power_App_or_flow_3":{"runAfter":{},"metadata":{"operationMetadataId":"2ef8beb4-15b4-465a-9c64-c8d9ec5f894b"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Failed","message":"Cannot update report wait 15 min and try agian","filelink":"\"\""},"schema":{"type":"object","properties":{"status":{"title":"status","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"filelink":{"title":"filelink","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Create_file_3":["Failed","TimedOut","Skipped"]},"metadata":{"operationMetadataId":"5e872f5a-ac80-466d-a6bb-e5d7fbf11885"},"type":"Scope"}}},"expression":{"and":[{"equals":["@triggerBody()?['text']","DailyReport"]}]},"metadata":{"operationMetadataId":"51e2d15e-03a8-45ec-884a-ab4a729de7aa"},"type":"If"},"Beforeimage":{"runAfter":{},"metadata":{"operationMetadataId":"4adfa42c-850a-46e7-98d2-62b6ae1f0871"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBeforeImageBase64","type":"string"}]}},"Afterimage":{"runAfter":{"Beforeimage":["Succeeded"]},"metadata":{"operationMetadataId":"a3b20a3f-951d-4966-bace-a198e8f6e603"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAfterImageBase64","type":"string"}]}},"penrequest":{"runAfter":{"Afterimage":["Succeeded"]},"metadata":{"operationMetadataId":"97ac3878-8398-4de9-81e1-3d9fed63c271"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPenRequesterBase64","type":"string"}]}},"penApprover":{"runAfter":{"penrequest":["Succeeded"]},"metadata":{"operationMetadataId":"7067f3b3-cae5-4a29-8fa6-3ed940c81db0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPenApproverBase64","type":"string"}]}},"penApprover_1":{"runAfter":{"penApprover":["Succeeded"]},"metadata":{"operationMetadataId":"3b1114e6-b4e2-468f-a363-c8cfc3e6a605"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPenInspectorBase64","type":"string"}]}}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-1a490b08-8807-4ae2-b10d-850660074d03","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-5e747657-ae6f-4d68-b2b8-788abf0ec23f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-6181182a-2f7d-4d8a-9498-462465731e58","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}